body {
  box-sizing: border-box;
}

#main-doc {
  margin-left: 25%;
  position: relative;
}

.container {
  padding: 10px;
}
code {
  color: red;
}
h5 {
  text-decoration: underline;
  font-style: bold;
}
